@font-face {
  font-family: "Pixeboy";
  src: url("../assests/fonts/Pixeboy.ttf") format("truetype");
}
@font-face {
  font-family: "Gohu";
  src: url("../assests/fonts/GohuFont11NerdFont-Regular.ttf") format("truetype");
}
