@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* index.css */
@font-face {
  font-family: "Pixeboy" !important;
  src: url("../assests/fonts/Pixeboy.ttf") format("truetype"); /* Adjust the path to your font file */
  /* You can also specify other font formats like woff or woff2 */
}
@font-face {
  font-family: "Gohu";
  src: url("../assests/fonts/GohuFont11NerdFont-Regular.ttf") format("truetype"); /* Adjust the path to your font file */
  /* You can also specify other font formats like woff or woff2 */
}
body,
html {
  background-color: black;
  font-family: "Pixeboy" !important;
  /* background-image: url("../src/assests/images/bg.png"); */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto";
  scroll-behavior: smooth;
  letter-spacing: 2px;
}
.font-pixeboy {
  font-family: "Pixeboy" !important;
}
.font-gohu {
  font-family: "Pixeboy" !important;
  /* font-family: "GohuFont 11 Nerd Font" !important; */
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 5px;
}

/* .active{
    height: 4rem;
    width: 100%;
    position: fixed;
    top: 0px;
    transition: 0.3s linear;
    display: flex;
    justify-content:stretch;
    align-items: center;
    background-color: #FFFFFF;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    z-index: 40;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .08);
    /* padding: 0 7%; */
/* } */
/* .hidden{
    height: 4rem;
    width: 100%;
    z-index: 40;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .08);
    position: fixed;
    top: -80px;
    transition: 8s;
    transition-duration: 8s;

} */
