@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Pixeboy" !important;
  src: url("../assests/fonts/Pixeboy.ttf") format("truetype");
}
@font-face {
  font-family: "Gohu";
  src: url("../assests/fonts/GohuFont11NerdFont-Regular.ttf") format("truetype");
}
body,
html {
  background-color: black;
  font-family: "Pixeboy" !important;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto";
  scroll-behavior: smooth;
  letter-spacing: 2px;
}
.font-pixeboy {
  font-family: "Pixeboy" !important;
}
.font-gohu {
  font-family: "Pixeboy" !important;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 5px;
}
